$phone-down-small: "(max-width: 576px)";

.container {
  display: flex;
  justify-content: space-between;

  @media (max-width: 600px) {
    display: block;
  }
  .box {
    width: 30%;
    @media (max-width: 600px) {
      width: 100%;
    }
    p {
      font-weight: 700;
    }
    .box_content {
      .drop_cap {
        float: left;
        margin-right: 10px;
        img {
          width: 100px;
          height: 100px;
          @media (max-width: 600px) {
            width: 70px;
            height: 70px;
          }
        }
      }
      p {
        font-size: 12px;
        font-weight: unset;
      }
    }
  }
}
