.box {
  width: 300px;
  .box_content {
    position: relative;
  }

  .box_content img {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px; /* Chiều rộng của hình ảnh */
    height: auto;
    margin: 0;
    padding: 0;
  }

  .box_content p {
    text-align: justify;
  }
}
